<main>
  <section class="actions_section">
    <button id="filterButton" class="button">
      <span>Filtrar</span>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </button>
    <div>
      <input type="search" placeholder="Insira um tópico para buscar...">
      <button id="searchButton">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
    </div>
    <button id="createButton" class="button">
      <span>Criar</span>
      <fa-icon [icon]="faSquarePlus"></fa-icon>
    </button>
  </section>
  <section class="posts">
    <div *ngIf="!posts;else postsContainer">
      <h1>Nenhuma Postagem no momento! :(</h1>
    </div>
    <ng-template #postsContainer>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </ng-template>
  </section>
</main>
