<div class="post">
  <img src="{{ post.image }}" alt="Imagem do Post">
  <h2>{{ post.title }}</h2>
  <div class="post_info">

    <div class="post_section">
      <span class="post_date">
        <fa-icon [icon]="faCalendarDays"></fa-icon>
        {{ post.date | date:'dd/MM/yyyy'}}
      </span>
      <span class="post_views">
        <fa-icon [icon]="faEye"></fa-icon>
        {{ post.views }}
      </span>
    </div>

    <div class="post_section">
      <span class="post_owner">
        <fa-icon [icon]="faUser"></fa-icon>
        {{ post.userOwner }}
      </span>
      <span class="post_category" [style.backgroundColor]="post.category | categoryColor">
        {{ post.category | categoryTranslate }}
      </span>
    </div>
  </div>

  <p class="post_subtitle">{{ post.subtitle }}</p>
</div>
